Repository morey-tech/pfsensible-haproxy: changes, and which pre-commit hooks are due for each by the changed paths.
All: pycodestyle, ansible-test-sanity, ansible-test-units

.pre-commit-config.yaml:

# Pre-commit hooks for pfsensible.haproxy Ansible collection
# See https://pre-commit.com for more information

default_language_version:
  python: python3.10

repos:
  # Standard pre-commit hooks for file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '^tests/output/'
      - id: end-of-file-fixer
        exclude: '^tests/output/'
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags used by Ansible
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-merge-conflict
      - id: debug-statements

  # Local hooks for Ansible collection testing
  - repo: local
    hooks:
      # Fast: pycodestyle linting (runs on changed Python files only)
      - id: pycodestyle
        name: Python Code Style (pycodestyle)
        entry: pycodestyle
        language: system
        types: [python]
        args: ['--config=setup.cfg']

      # Medium: ansible-test sanity checks
      - id: ansible-test-sanity
        name: Ansible Test Sanity
        entry: bash
        language: system
        args:
          - -c
          - |
            echo "Running ansible-test sanity checks..."
            ansible-test sanity --requirements --python 3.10
        pass_filenames: false
        files: '\.(py|yml|yaml)$'
        verbose: true

      # Slow: ansible-test unit tests
      - id: ansible-test-units
        name: Ansible Test Units
        entry: bash
        language: system
        args:
          - -c
          - |
            echo "Running ansible-test unit tests..."
            ansible-test units --requirements --python 3.10
        pass_filenames: false
        files: '\.(py|yml|yaml)$'
        verbose: true

fix: correct working directory path in GitHub Actions workflow
  .github/workflows/main.yml
Due: ansible-test-sanity, ansible-test-units

docs: update installation instructions for GitHub fork
  README.md
Due: none

docs: add module documentation and development guidelines
  AGENTS.md
  README.md
  docs/modules/pfsense_haproxy_backend.md
  docs/modules/pfsense_haproxy_backend_server.md
  docs/modules/pfsense_haproxy_frontend.md
  docs/modules/pfsense_haproxy_frontend_server.md
Due: none

chore: fix workspace ownership
  .devcontainer/postCreate.sh
Due: none

feat: add TCP mode support for HAProxy frontends
  README.md
  docs/modules/pfsense_haproxy_backend.md
  docs/modules/pfsense_haproxy_frontend.md
  plugins/module_utils/haproxy_frontend.py
  plugins/modules/pfsense_haproxy_backend.py
  plugins/modules/pfsense_haproxy_frontend.py
Due: pycodestyle, ansible-test-sanity, ansible-test-units

feat: add TCP mode support for HAProxy frontends (#3)
  README.md
  docs/modules/pfsense_haproxy_backend.md
  docs/modules/pfsense_haproxy_frontend.md
  plugins/module_utils/haproxy_frontend.py
  plugins/modules/pfsense_haproxy_backend.py
  plugins/modules/pfsense_haproxy_frontend.py
Due: pycodestyle, ansible-test-sanity, ansible-test-units

feat: add ACL and Action modules for SNI-based routing
  README.md
  docs/modules/pfsense_haproxy_frontend_acl.md
  docs/modules/pfsense_haproxy_frontend_action.md
  plugins/module_utils/haproxy_frontend_acl.py
  plugins/module_utils/haproxy_frontend_action.py
  plugins/modules/pfsense_haproxy_frontend_acl.py
  plugins/modules/pfsense_haproxy_frontend_action.py
Due: pycodestyle, ansible-test-sanity, ansible-test-units

chore: update copyright to Nicholas Morey
  docs/modules/pfsense_haproxy_frontend_acl.md
  docs/modules/pfsense_haproxy_frontend_action.md
  plugins/module_utils/haproxy_frontend_acl.py
  plugins/module_utils/haproxy_frontend_action.py
  plugins/modules/pfsense_haproxy_frontend_acl.py
  plugins/modules/pfsense_haproxy_frontend_action.py
Due: pycodestyle, ansible-test-sanity, ansible-test-units

feat: Add ACL and Action modules for SNI-based routing (#4)
  README.md
  docs/modules/pfsense_haproxy_frontend_acl.md
  docs/modules/pfsense_haproxy_frontend_action.md
  plugins/module_utils/haproxy_frontend_acl.py
  plugins/module_utils/haproxy_frontend_action.py
  plugins/modules/pfsense_haproxy_frontend_acl.py
  plugins/modules/pfsense_haproxy_frontend_action.py
Due: pycodestyle, ansible-test-sanity, ansible-test-units

feat(frontend_server): add extaddr parameter validation
  docs/modules/pfsense_haproxy_frontend_server.md
  plugins/module_utils/haproxy_frontend_server.py
  plugins/modules/pfsense_haproxy_frontend_server.py
  tests/unit/plugins/modules/fixtures/pfsense_haproxy_frontend_server_config.xml
  tests/unit/plugins/modules/test_pfsense_haproxy_frontend_server.py
Due: pycodestyle, ansible-test-sanity, ansible-test-units

feat(frontend_server): add extaddr parameter validation (#5)
  docs/modules/pfsense_haproxy_frontend_server.md
  plugins/module_utils/haproxy_frontend_server.py
  plugins/modules/pfsense_haproxy_frontend_server.py
  tests/unit/plugins/modules/fixtures/pfsense_haproxy_frontend_server_config.xml
  tests/unit/plugins/modules/test_pfsense_haproxy_frontend_server.py
Due: pycodestyle, ansible-test-sanity, ansible-test-units

fix(frontend): conditionally apply httpclose default for http type only
  docs/modules/pfsense_haproxy_frontend.md
  plugins/module_utils/haproxy_frontend.py
  plugins/modules/pfsense_haproxy_frontend.py
Due: pycodestyle, ansible-test-sanity, ansible-test-units

fix(frontend): conditionally apply httpclose default for http type only (#6)
  docs/modules/pfsense_haproxy_frontend.md
  plugins/module_utils/haproxy_frontend.py
  plugins/modules/pfsense_haproxy_frontend.py
Due: pycodestyle, ansible-test-sanity, ansible-test-units

fix(frontend_acl): write ACLs to ha_acls section for config generation
  plugins/module_utils/haproxy_frontend_acl.py
Due: pycodestyle, ansible-test-sanity, ansible-test-units

fix(frontend_acl): write ACLs to ha_acls section for config generation (#7)
  plugins/module_utils/haproxy_frontend_acl.py
Due: pycodestyle, ansible-test-sanity, ansible-test-units

chore: bump version to 0.2.0
  CHANGELOG.rst
  galaxy.yml
Due: ansible-test-sanity, ansible-test-units

chore(devct): add claude cli
  .devcontainer/postCreate.sh
Due: none

chore(deps): add renovate configuration
  .github/renovate.json
Due: none
